@media(min-width:375px) and (max-width: 667px){
    .data{
        width: 0px;
        margin: 0%;
        padding: 0%;
        text-align: center;
        background-image: url(device.jpeg);
    }
}

@media(min-width:360px) and (max-width: 740px){
    .data{
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url(device.jpeg);
    }
    .login-box{
        text-align: center;
        padding: 0%;
        margin-top: -20%;
    }
}