.coba{
    height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20px;
  overflow-x: hidden;
  padding-top: 100px;
  margin-left: 60%;
}

.warna{
    background-color: #306EFF;
}

.contrainer{
  margin-top: 200px;
  font-family:cursive;
}

body{
  background-color:  #FFC130;
}

.contrainer2{
  margin-top: 200px;
  margin-left: 450px;
}

.t1{
background-color: #B7CEEC;
border-radius: 10px;
font-family:cursive;
padding:0;
}


